 {% extends 'template/base.html.twig' %}
 {% block title %}
 Portail produits
 {% endblock %}

{% block list_title %}Liste des produits sur Shoppy {% endblock list_title %}

{% block body %}

    {% block big_carousel %}

        <div class="wpb_revslider_element wpb_content_element no-margin">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="wpb_revslider_element wpb_content_element">
                        <div id="main-slider" class="fullwidthbanner-container" style="position:relative; width:100%; height:auto; margin-top:0px; margin-bottom:0px">
                            <div class="module slideshow no-margin">
                                <div class="item">
                                    <a href="simple_product.html"><img src="{{ asset('images/1903/slider2.jpg') }}" alt="slider1" class="img-responsive" height="559"></a>
                                </div>
                                <div class="item">
                                    <a href="simple_product.html"><img src="{{ asset('images/1903/01_index_v1.jpg') }}" alt="slider2" class="img-responsive" height="559"></a>
                                </div>
                                <div class="item">
                                    <a href="simple_product.html"><img src="{{ asset('images/1903/slider3.jpg') }}" alt="slider3" class="img-responsive" height="559"></a>
                                </div>
                            </div>
                            <div class="loadeding"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock big_carousel %}

 {% endblock body %}
